body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* key */

#key-title {
    margin-top: 40px;
    font-size: 12px;
    color: #282828;
}

#key {
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: 10px auto 20px auto;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #c6c6c6;
}

.key-boxes {
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    height: 30px;
    width: fit-content;
    padding: 12px;
    border-radius: 5px;

}


/* node styles */

.bg-red {
    background-color: #ef476f;
    color: #FFF;
}

.bg-blue {
    background-color: #118ab2;
    color: #FFF;
}

.bg-yellow {
    background-color: #ffd166;
    color: #282828;
}

.bg-green {
    background-color: #06d6a0;
    color: #282828;
}


/* flowchart */

#flowchart {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    width: 85%;
    max-width: 1000px;
    display: block;
    margin: 50px auto;
}

.blank-row { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.node {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
}

.compound-node {
    text-align: center;
    color: #282828;
    margin: 5px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
    background-color: #FFF;
    padding: 3px;
    border-radius: 5px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd166;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}


/* specific fixes */

.right {
    margin: 0px 50px 3px auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fix {
    display: block;
    width: fit-content;
    margin-right: 0px;
}

.width-100 {
    width: 100%;
}

.margin15 {
    margin: 0px 15px 0px 15px;
}

/* images */

.left {
    margin: 0px auto auto 58px;
}

.arrow-center {
    display: block;
    margin: 0px auto;
    height: 30px;
}

.arrow-left {
    display: block;
    margin-left: 60px;
    height: 30px;
}

.img-node {
    display: block;
    margin: 10px auto 10px auto; 
}


/* js function read more */

#more-button {
    background-color: #ffffff26;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFF;
}

#more-text {
    display: none;
}
