body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    
}

#family {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    background-color: #118ab2;
    color: #FFF;
    width: 100%;
    height: 40px;
}

#key {
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: 70px auto 20px auto;
    font-size: 12px;
}

.key-boxes {
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    background-color: #ef476f;
    height: 25px;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;

}

.bg-red {
    background-color: #ef476f;
    color: #FFF;
}

.bg-blue {
    background-color: #118ab2;
    color: #FFF;
}

.bg-yellow {
    background-color: #ffd166;
    color: #282828;
}

.bg-green {
    background-color: #06d6a0;
    color: #282828;
}


#hr {
    border: 1px solid #c6c6c6;
    max-width: 650px;
}

#flowchart {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    width: 70%;
    max-width: 650px;
    display: block;
    margin: 60px auto;
}

.blank-row { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.node {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
}

.compound-node {
    text-align: center;
    color: #282828;
    margin: 5px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
    background-color: #FFF;
    padding: 3px;
    border-radius: 5px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd166;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}


/* specific fixes */

.left {
    margin: 0px auto auto 35px;
}

.right {
    margin: 3px 50px 3px auto;
}

.fix {
    display: block;
    width: fit-content;
    margin-right: 0px;
}

/* images */

.arrow-center {
    display: block;
    margin: 0px auto;
    height: 30px;
}

.arrow-left {
    display: block;
    margin-left: 40px;
    height: 30px;
}

.img-node {
    display: block;
    margin: 10px auto 10px auto; 
}

